.vscode/**
.vscode-test/**
src/**
node_modules/**
out/test/**
.gitignore
.vscodeignore
.github/**
.versionrc.json
tsconfig.json
tsconfig.tsbuildinfo
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.eslintrc.json
**/*.test.js
**/test/**
test-sample.guard
CONTRIBUTING.md
scripts/**
icons/*.svg
**/README.md
**/LICENSE
**/LICENSE.*
**/*.md
!README.md
!CHANGELOG.md
esbuild.ts
